
.body{
    font-family: Arial, Helvetica, sans-serif;
    font: 20px;
}

.navbar{
    background-color: #ececec;
}

.quem-somos{
    background-color: #B4453E ;
    color:white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #D37875;
}
